{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="fw-bold text-primary pt-3 pb-3 display-6 justify-content-center align-items-center"><u>Register Here</u></h1>
            <p class="display-6 fw-light justify-content-center align-items-center">Fill in The Required fields below</p>
            <form class="d-flex fw-bold flex-column justify-content-center align-items-center" action="/register" method="post">
                <div>
                    {{ wtf.quick_form(form) }}
                </div>           
        </div>
        </form>
    </div>
</div>
<div class="col-3"></div>
</div>

{% endblock %}