{% extends 'base.html'%}
{%block content%}
<div class="container-fluid">
    <div class="row bg-light">
        <div class="col-5 ps-5 py-2">
            <img src="https://images.unsplash.com/photo-1585592049294-8f466326930a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"
                alt="">
        </div>
        <div class="col-6 pt-5 content text-center justify-center align-items-center">
            <h1 class="fw-bold text-primary pt-3 pb-3 display-5"><u>Get The latest Blogs Here</u></h1>
            <p class="display-6 fw-bold">Take your few minutes and enjoy the latests blogs and gossip in town.</p>
            <p class="display-6 fw-bold text-primary pb-2">We Got You.</p>
            <a href="{{ url_for('auth.login') }}"><button class="btn btn-lg btn-primary display-4">Get Started</button></a>
        </div>
    </div>
</div>
{%endblock%}